body{
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #2c2d42;
}

html{
    position: relative;
}

.link-button{
    display: flex;
    justify-content: center;
}

.link-button input[type="button"]{
    color: white;
    margin: 20px 5px 0;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    background-color: black;
    border: 2px solid black;
    border-radius: 6px;
}

.link-button input[type="button"]:hover{
    color: black;
    transition: 0.5s;
    border: 2px solid red;
    background-color: ghostwhite;
}

.content{
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
