.header {
    height: 90px;
    width: 100%;
    display: flex;
    background-color: black;
    justify-content: space-between;
    box-shadow: 0 0 20px 5px darkred;
}

/* Всё что справа:*/

.header .lab-name{
    color: whitesmoke;
    font-size: 2.2vw;
    font-weight: bold;
    margin-top: 10px;
}

/* Всё что слева:*/

.header div {
    display: flex;
    align-items: center;
    margin: 10px 20px auto;
    flex-direction: column;
}

.header span, a{
    color: white;
    font-size: 1.2vw;
    font-weight: bold;
    text-decoration: none;
}

.header a:hover {
    color: orange;
    font-size: 17px;
    transition: 0.5s;
    text-shadow: 0 0 20px red;
    text-decoration: none;
}