body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
}

button{
    color: white;
    margin: 20px 5px 0;
    border-radius: 6px;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    background-color: black;
    border: 2px solid black;
}

button:hover{
    color: black;
    transition: 0.5s;
    border: 2px solid red;
    background-color: ghostwhite;
}
